<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      class="light-style layout-menu-fixed layout-compact"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="./static/assets"
      data-template="vertical-menu-template-free"
      data-style="light">
<ul class="menu-inner py-1" th:fragment="sidebar_admin">
    <li class="menu-item"  th:classappend="${currentUrl == 'AccountManagement'} ? ' active'">
        <a th:href="@{/admin/AccountManagement}" class="menu-link">
            <span class="text-truncate" >Quản lý tài khoản</span>
        </a>
    </li>
    <li class="menu-item"  th:classappend="${currentUrl == 'DonationProject'} ? ' active'">

        <a th:href="@{/admin/DonationProject}" class="menu-link">
            <span class="text-truncate" >Quản lý chiến dịch</span>
        </a>
    </li>
<!--    <li class="menu-item">-->
<!--        <a-->
<!--                href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/"-->
<!--                target="_blank"-->
<!--                class="menu-link">-->
<!--            <i class="menu-icon tf-icons bx bx-file"></i>-->
<!--            <span class="text-truncate" data-i18n="Documentation">Report</span>-->
<!--        </a>-->
<!--    </li>-->
</ul>

<ul class="menu-inner py-1" th:fragment="sidebar_pm">
    <!-- Project Management Menu Item -->
    <li class="menu-item" th:classappend="${currentUrl == 'DonationProject'} ? ' active'">
        <a th:href="@{/manager}" class="menu-link">
            <span class="text-truncate">Quản lý chiến dịch</span>
        </a>
    </li>

    <!-- Tags Management Menu Item -->
    <li class="menu-item" th:classappend="${currentUrl == 'TagsManagement'} ? ' active'">
        <a th:href="@{/manager/TagsManagement}" class="menu-link">
            <span class="text-truncate">Quản lý Tags</span>
        </a>
    </li>
    <li class="menu-item" th:classappend="${currentUrl == 'TransferApplication'} ? ' active'">
        <a th:href="@{/manager/TransferApplication}" class="menu-link">
            <span class="text-truncate">Danh sách yêu cầu</span>
        </a>
    </li>
</ul>
</html>