<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="./static/assets"
  data-template="vertical-menu-template-free"
  data-style="light">
          <ul class="menu-inner py-1" th:fragment="dashboards">
                <li class="menu-item"  th:classappend="${currentUrl == 'AccountManagement'} ? ' active'">
                  <a th:href="@{/AccountManagement}" class="menu-link">
                    <span class="text-truncate" >Account Management</span>
                  </a>
                </li>
                <li class="menu-item"  th:classappend="${currentUrl == 'DonationProject'} ? ' active'">

                  <a th:href="@{/admin/DonationProject}" class="menu-link">
                    <span class="text-truncate" >Project Management</span>
                  </a>
                </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>

                <span class="text-truncate" data-i18n="Authentications">Authentications</span>

              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/login}" class="menu-link" >
                    <span class="text-truncate" data-i18n="Basic">Login</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/register}" class="menu-link" >
                    <span class="text-truncate" data-i18n="Basic">Register</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/forgot_password}" class="menu-link" >
                    <span class="text-truncate" data-i18n="Basic">Forgot Password</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a
                href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/"
                target="_blank"
                class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <span class="text-truncate" data-i18n="Documentation">Report</span>
              </a>
            </li>
          </ul>
</html>