<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
        <div class="container-xxl align-items-center">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                  <div class="text-body">
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by
                    <a th:href="@{/}"  class="footer-link">SGU - Charity</a>
                  </div>
                </div>
              </div>
            </footer>
</html>