<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      class="light-style layout-menu-fixed layout-compact"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="./static/assets"
      data-template="vertical-menu-template-free"
      data-style="light">
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" th:fragment="menu">
    <div class="app-brand demo">
        <a th:href="@{/}" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bold ms-2">SGU - Charity</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1" th:replace="~{Fragment/Dashboards :: dashboards}">

    </ul>
</aside>
</html>