<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
        class="light-style layout-menu-fixed layout-compact"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="./static/assets"
        data-template="vertical-menu-template-free"
        data-style="light">
<head th:replace="~{Fragment/Head :: head}"></head>
<body>
    <div> You don't have authority to access</div>
    <div> Return to <a th:href="@{/admin/login}">login</a></div>
</body>
</html>