<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en"
        class="light-style layout-menu-fixed layout-compact"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="./static/assets"
        data-template="vertical-menu-template-free"
        data-style="light">
<head th:replace="~{components/header :: head}"></head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" th:replace="~{components/menu :: menu(${role})}">
            <!--  DashBoard in menu  -->
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar" th:replace="~{components/navbar :: navbar}">
            </nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-xxl-8 mb-6 order-0">
                            <div class="card">
                                <div class="d-flex align-items-start row">
                                    <div class="col-sm-7">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary mb-3" sec:authorize="isAuthenticated()"> Xin chào, <strong th:text="${#authentication.principal.fullName}">User</strong></h5>
                                            <p class="mb-6">
                                                Chào mừng bạn đến với trang quản lý của SGU - Charity
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-center text-sm-left">
                                        <div class="card-body pb-0 px-0 px-md-6">
                                            <img
                                                    th:src="@{/assets/img/illustrations/man-with-laptop.png}"
                                                    height="175"
                                                    class="scaleX-n1-rtl"
                                                    alt="View Badge User" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 order-1">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-6 mb-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                                                <div class="avatar flex-shrink-0">
                                                    <img
                                                            th:src="@{/assets/img/icons/unicons/chart-success.png}"
                                                            alt="chart success"
                                                            class="rounded" />
                                                </div>
                                            </div>
                                            <p class="mb-1">Tổng chiến dịch</p>
                                            <h4 class="card-title mb-3" th:text="${totalProject}"></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-6 mb-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                                                <div class="avatar flex-shrink-0">
                                                    <img
                                                            th:src="@{/assets/img/icons/unicons/wallet-info.png}"
                                                            alt="wallet info"
                                                            class="rounded" />
                                                </div>
                                            </div>
                                            <p class="mb-1">Tổng tài khoản</p>
                                            <h4 class="card-title mb-3" th:text="${totalAccount}"></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Total Revenue -->
                        <div class="col-12 col-xxl-8 order-2 order-md-3 order-xxl-2 mb-6">
                            <div class="card">
                                <div class="col-md-12">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div id="projectChart"
                                                 th:data-stopped="${stoppedProject}"
                                                 th:data-pending="${pendingProject}"
                                                 th:data-completed="${completedProject}"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Total Revenue -->
                        <div class="col-12 col-md-8 col-lg-12 col-xxl-4 order-3 order-md-2">
                            <div class="row">
                                <div class="col-6 mb-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                                                <div class="avatar flex-shrink-0">
                                                    <img th:src="@{/assets/img/icons/unicons/paypal.png}" alt="paypal" class="rounded" />
                                                </div>
                                            </div>
                                            <p class="mb-1">Tổng giao dịch</p>
                                            <h4 class="card-title mb-3" th:text="${totalTransfer}"></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                                                <div class="avatar flex-shrink-0">
                                                    <img th:src="@{/assets/img/icons/unicons/cc-primary.png}" alt="Credit Card" class="rounded" />
                                                </div>
                                            </div>
                                            <p class="mb-1">Tổng tiền quyên góp</p>
                                            <h4 class="card-title mb-3" th:text="${totalDonatedAmount}+'đ'"></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme" th:replace="~{components/footer :: footer}">
                </footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/chart.js}"></script>
<!-- Page JS -->
<script th:src="@{/assets/js/dashboards-analytics.js}"></script>

<!-- Place this tag before closing body tag for github widget button. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
